.chart1{
    animation: fadeIn 1s forwards;
    position: absolute;
    top: 23%;
    left: 7%;
    border: 15px ridge #b5c428;
    border-radius: 15px;
    background-color: white;
}

.chart2{
    animation: fadeIn 1s forwards;

    position: absolute;
    top: 23%;
    right: 7%;
    border: 15px ridge #b5c428;
    border-radius: 15px;
    background-color: white;
}
