table{
    animation: fadeIn 1s forwards;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 24%;
    text-align: center;
    width: 95%;
    left: 3%;
    border-collapse: collapse;

    tr{
        margin: 0;
        border: 2px solid black;
        border: 5px solid black;
        background-color: #d3d3d3;

        button{
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        border: 5px solid #b5c428;
        border-radius: 15px;
        font-size: 20px;
        margin: 10px;
        background-color: #003a70;
        text-decoration: none;
        color: white;
    
        &:hover{
          background-color: #b5c428;
          color: black;
          border: 5px solid #003a70;
        }
      }
    }

    th{
        color: #b5c428;
        margin: 0px;
        border: 5px outset black;
        text-align: center;
        padding: 10px;
        background-color: #003a70;
    }

    td{
        text-align: center;
        border: 5px solid black;
        padding: 8px;
        text-align: center;
        align-items: center;
        color: black;
        background-color: #d3d3d3;
    }

    .columns{
        font-size: 22px;
        text-align: center;
    }
}
